@page
@model FileServerManagementWepApp.Pages.ActiveModel

@{
    ViewData["Title"] = "Active";
}

@if (Model.TblFile.Active == true)
{
    <h1>غیر فعال</h1>

    <h3>آیا از غیر فعال کردن فایل مطمئن می‌باشید؟</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                نام فایل
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TblFile.Name)
            </dd>
            <dt class="col-sm-2">
                حجم فایل
            </dt>
            <dd class="col-sm-10">
                <div dir="ltr"> @Html.DisplayFor(model => model.TblFile.Size) MB</div>
            </dd>
            <dt class="col-sm-2">
                توضیحات
            </dt>
            <dd class="col-sm-10">
                @if (Model.TblFile.Description.Length > 50)
                {
                    @Model.TblFile.Description.Substring(0, 50)
                }
                else
                {
                    @Model.TblFile.Description
                }
            </dd>
            <dt class="col-sm-2">
                سرور
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TblFile.Server.Name)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="TblFile.Id" />
            <input type="submit" value="غیر فعال" class="btn btn-danger ml-1 mr-1" />
            <a asp-page="./Index">انصراف</a>
        </form>
    </div>

}
else
{
    <h1>فعال</h1>

    <h3>آیا از فعال کردن فایل مطمئن می‌باشید؟</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                نام فایل
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TblFile.Name)
            </dd>
            <dt class="col-sm-2">
                حجم فایل
            </dt>
            <dd class="col-sm-10">
                <div dir="ltr"> @Html.DisplayFor(model => model.TblFile.Size) MB</div>
            </dd>
            <dt class="col-sm-2">
                توضیحات
            </dt>
            <dd class="col-sm-10">
                @if (Model.TblFile.Description.Length > 50)
                {
                    @Model.TblFile.Description.Substring(0, 50)
                }
                else
                {
                    @Model.TblFile.Description
                }
            </dd>
            <dt class="col-sm-2">
                سرور
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TblFile.Server.Name)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="TblFile.Id" />
            <input type="submit" value="فعال" class="btn btn-success ml-1 mr-1" />
            <a asp-page="./Index">انصراف</a>
        </form>
    </div>
}

