@page
@model FileServerManagementWepApp.Pages.ForceDeleteModel
@{
    ViewData["Title"] = "Delete";
}


@Html.ValidationMessage("DeleteError", new { @class = "text-danger mb-2" })

<br />
<h1>حذف</h1>

<h3>آیا از حذف فایل مطمئن می‌باشید؟</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            نام فایل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Name)
        </dd>
        <dt class="col-sm-2">
            سیستم
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.System.Title)
        </dd>
        <dt class="col-sm-2">
            زیر سیستم
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.SubSystem.Title)
        </dd>
        <dt class="col-sm-2">
            زیر سیستم
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.FileType.Title)
        </dd>
        <dt class="col-sm-2">
            حجم فایل
        </dt>
        <dd class="col-sm-10">
            <div dir="ltr"> @Html.DisplayFor(model => model.TblFile.Size) MB</div>
        </dd>
        <dt class="col-sm-2">
            توضیحات
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Description)
        </dd>
        <dt class="col-sm-2">
            سرور
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Server.Name)
        </dd>
    </dl>

    <form method="post" id="myForm">
        <input type="hidden" asp-for="TblFile.Id" />
        <input type="submit" class="btn btn-danger ml-1 mr-1" name="sub" value="حذف"/>
    </form>
    <a asp-page="./Index">انصراف</a>

</div>